/*! general.css */

/* Document
   ========================================================================== */

/**
 style related to the graphic chart of the basic elements :
 - titles
 - p
 - button / call to action
 - loader
*/

* {
    font-family: 'Gellix', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
    font-weight: 600;
}

h4 {
    font-weight: 600;
    margin: 10px 0px 5px 15px;
}

button {
    background-color: $blue_primary;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 30px 12px 30px;
    box-shadow: 1px 2px 15px rgba($color: #100881, $alpha: .2);
    cursor: pointer;
    transition: .2s all ease-in-out;
    &:hover {
        box-shadow: none;
        background-color: $blue_secondary;
    }
}

.loader {
    color: $green_primary;
    text-align: center;
    width: 100%;
    margin-top: 15vh;

    .dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #02504B;
        margin: 5px;
    }

    .dot1 {
        animation: ScaleInOut 0.6s ease-in-out 0.2s infinite alternate;
    }

    .dot2 {
        animation: ScaleInOut 0.6s ease-in-out 0.4s infinite alternate;
    }

    .dot3 {
        animation: ScaleInOut 0.6s ease-in-out 0.6s infinite alternate;
    }
}


@keyframes ScaleInOut {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.5);
    }
}


.error {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $green_primary;
    margin-top: 5vh;

    img {
        width: 300px;
    }

    h4 {
        font-size: 1.2em;
        // font-weight: 500;
        margin: 10px 0 0 0;
    }

    p {
        font-weight: 300;
        font-size: .95em;
        max-width: 600px;
        text-align: center;
    }

    button {
        margin-top: 20px;
    }

}