/*! general.css */

/* Document
   ========================================================================== */

/**
 style related to the template :
 - global template
 - header
 - user profile 
 - quote simulation
 - advice simulation
*/


//* header
#header {
    background-color: white;
    box-shadow: 1px 5px 15px rgba($color: #000000, $alpha: .05);
    position: sticky;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

//* global template
#template {
    display: grid;
    grid-template-columns: 350px auto 340px;
}

//* user profile
#user-profile {
    background-color: $green_primary;
    color: white;
    padding: 25px;
    min-height: calc(100vh - 62px);

    h2 {
        text-align: center;
        ;
    }
}

//* advice simulation
#advice {
    display: flex;
    align-items: center;

    .modal {
        background-color: $green_secondary;
        color: $green_primary;
        padding: 25px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

    .box {
        background-color: white;
        padding: 30px 15px 20px 15px;
        border-radius: 8px;
        position: relative;
        margin-top: 45px;
    }

    .picture {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        position: absolute;
        top: -35px;
        right: calc(50% - 25px);
        overflow: hidden;
        border: 1px solid white;
        box-shadow: 1px 5px 10px rgba($color: #000000, $alpha: .05);

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        text-align: center;
        margin: 0;
    }

    p {
        font-weight: 300;
        font-size: .95em;
    }

    span {
        font-weight: 200;
        font-size: .95em;
    }
}


//* quote simulation
#quote-simulation{
    padding: 20px;
}

.cover {
    margin: 5px 0;
    .head {
        padding: 15px;
        border-radius: 8px;
        p{
            margin: 0;
        }
        background-color: #eaefff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.englobe-coverage-deductible{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    .formula{
        background-color: $blue_secondary;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        p{
            margin-top: 0;
            // font-weight: 600;
        }
    }
}


.flex{
    display: flex;
}
.formulas-switch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    // color: $blue_secondary;
    &::after{
        content: '';
        position: absolute;
        bottom: 8px;
        width: 70%;
        left: 15%;
        height: 2px;
        background-color: #000000;
        z-index: -1;
    }
    .formula{
        position: relative;
        font-weight: 300;
        span{
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: .9em;
            padding: 10px;
            cursor: pointer;
        }
        &::after{
            content: '●';
            // font-size: 14px;
            position: absolute;
            bottom: 0;
            left: calc(50%);
            transform: translateX(-50%);
            cursor: pointer;
        }
        &.active{
            font-weight: 600;
            color: $blue_secondary;
        }
    }
}