/*! variables.css */

/* Document
   ========================================================================== */

/**
 set variables for : 
 - colors
*/

$green_primary : #02504B;
$green_secondary : #D9EAE7;
$blue_primary : #5C87FF;
$blue_secondary : #3862D6;